body {
    margin: 0;
}

.ifmenu {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* gap: 24px; */
    position: relative;
    top: 70px;
}

#t1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2C2C2C;
}

#t2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 8px;
    gap: 16px;
    background: #E4F4FF;
    border-radius: 8px;
}

h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C2C2C;
    display: flex;
    gap: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1F1F1F;
    align-self: stretch;
}

#t3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 8px;
    /* gap: 16px; */
    background: #F5F5F5;
    border-radius: 8px;
}

.buttonFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.buttonFrame button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 8px;
    height: 44px;
    background: #3FA1EB;
    color: white;
    border-radius: 4px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}