/* Top navbar */
.navbar {
    overflow: visible;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    position: relative;
    width: 100vw;
    left: 0px;
    top: 0px;
}

.navbar #frame3 {
    /* Frame 3 */
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar #frame1 {
    /* Frame 1 */
    padding: 0px;
    width: 40vw;
    height: 34px;
    flex: none;
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar a.menu {
    /* Frame 2 */
    width: 20px;
    height: 20px;
    flex: none;
    right: 5px;
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar #menuDrop {
    display: none;
}

.navbar a:hover {
    background-color: grey;
}

.active {
    color: white;
}