/* TopBar */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;

    /* Grises/Blanco */
    background: #FFFFFF;
    /* Grises/Gris 06 */
    border-bottom: 1px solid #F5F5F5;
    /* Sombras/Nav */
    box-shadow: 0px 4px 4px rgba(232, 232, 232, 0.25);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Logo */
.logo {
    width: 30px;
    height: 30px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* Titulo Apelatron */
.menuTitle {
    width: 72px;
    font-family: 'Inter';
    font-style: normal;
    align-self: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2D3473;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-container {
    order: 2;
    width: 20%;
    flex-wrap: nowrap;
    
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--black);
    overflow: hidden;
    flex-grow: 2;

}

.menu a {
    display: block;
    padding: 20px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--gray);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {

    .header {
        width: 100%;
        height: 50px;
    }

    .nav {
        max-height: none;
        position: relative;
        float: right;
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        background-color: transparent;
    }

    .menu {
        float: right;
        display: flex;
        flex-direction: row;
    }

    .menu a{
        width: 30%;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }
}